# Tick Data Setup
_Version 1.0_

In [1]:
%matplotlib inline

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

# load our helper functios
%run simtools.py

matplotlib.rcParams[ 'figure.figsize' ] = ( 16, 9 )

### Load and Normalize Data

In [4]:
# set up some variables
quote_file = 'AAPL-quotes-Sep19.csv'
trade_file = 'AAPL-trades-Sep19.csv'
#test_day = '2019-09-03'

In [5]:
# call load trades
trades = loadtradefile(trade_file)

2019-10-25 14:44:45:484826: load trades
2019-10-25 14:44:49:507175: load complete
2019-10-25 14:44:49:507306: indexing trades
2019-10-25 14:45:09:332001: index trades done

In [6]:
# call load quotes
quotes = loadquotefile(quote_file)

2019-10-25 14:45:38:679382: load quotes
2019-10-25 14:48:14:818494: load complete
2019-10-25 14:48:14:839209: indexing quotes
2019-10-25 14:54:12:240498: index quotes done

In [7]:
quotes.head()

,exch,bid_px,bid_size,ask_px,ask_size,qu_cond,qu_seqnum,natbbo_ind,qu_cancel,qu_source,symbol,suffix
2019-09-03 04:00:00.072720314,P,165.00,2,0.0,0,R,2162,2,NaN,N,AAPL,NaN
2019-09-03 04:00:00.072731184,P,165.00,2,221.0,1,R,2163,4,NaN,N,AAPL,NaN
2019-09-03 04:00:00.072741263,P,171.00,1,221.0,1,R,2164,4,NaN,N,AAPL,NaN
2019-09-03 04:00:00.072752330,P,181.56,1,221.0,1,R,2165,4,NaN,N,AAPL,NaN
2019-09-03 04:00:00.072762501,P,188.20,1,221.0,1,R,2166,4,NaN,N,AAPL,NaN

In [8]:
# merge the files
taq = makeTAQfile(trades, quotes)

2019-10-25 14:55:15:004923: start merge
2019-10-25 14:56:51:024772: end merge

In [13]:
taq['2019-09-03'].head()

,exch,bid_px,bid_size,ask_px,ask_size,qu_cond,qu_seqnum,natbbo_ind,qu_cancel,qu_source,symbol,suffix_x,suffix_y,trade_size,trade_px
2019-09-03 04:00:00.071606324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAPL,NaN,NaN,48.0,206.2
2019-09-03 04:00:00.072720314,P,165.00,2.0,0.0,0.0,R,2162.0,2.0,NaN,N,AAPL,NaN,NaN,NaN,NaN
2019-09-03 04:00:00.072731184,P,165.00,2.0,221.0,1.0,R,2163.0,4.0,NaN,N,AAPL,NaN,NaN,NaN,NaN
2019-09-03 04:00:00.072741263,P,171.00,1.0,221.0,1.0,R,2164.0,4.0,NaN,N,AAPL,NaN,NaN,NaN,NaN
2019-09-03 04:00:00.072752330,P,181.56,1.0,221.0,1.0,R,2165.0,4.0,NaN,N,AAPL,NaN,NaN,NaN,NaN

In [14]:
# save the file
taq['2019-09-03'].to_pickle('APPL-TAQ-Sep03.zip')